<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <title>template</title>
        <link rel="stylesheet" href="styles/styles.css"/>
        <script src="js/js.js"></script>
        <link rel="stylesheet" href="css/font-awesome.min.css">
        
    </head>

    <body>

    
    
        <script src="js/jquery-slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>

</html>
