@import url('https://fonts.googleapis.com/css?family=Lobster');

*{font-family: 'Lobster', cursive;}
.right{
	padding-top: 25px;
	
	

}
.dota2{
	padding-top: 40px;
	
}
.dota3{
	background-image: cherry;
}
.dota4{
	padding-top: 40px;
	
}
.freemike{
	background-color: #D8BE96;
	
	
}
.navtext{
	color: black;
	
	
}
.jumbo1{
	padding-top: 50px;
	
}