body{
	background-color: #F6F6F6;
	background-image:url('large.jpg');
	background-repeat: no-repeat;
}
#logo{
	position: fixed;
	width: 60px;
	height: 60px;
	float: left;
}
#navtop{
	position: fixed;
	height: 87px;
	width: 86%;
	background-color: #2b2b2b;
	margin-top: 2%;
	margin-left: 7%;
	margin-right: 7%;
	z-index: 999;
}
ol{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2b2b;
}
#nav{
	margin-left: 14%;
	font-size: 24px;
}

#nav:hover{
	margin-left: 14%;
}
li{
    float: left;
	color: #F6F6F6; 

}
li  a:hover{
	background-color: #f6f6f6;
	color: #2b2b2b;
}
li a {
    display: block;
	color: white;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
	text-align: center;
}
#pg1{
	color: #F6F6F6; 
	height: 1000px;
	width: 80%;
	background-color: #2b2b2b;
	opacity: .95;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}
#pg2{
	color: #F6F6F6; 
	height: 1000px;
	width: 80%;
	background-color: #2b2b2b;
	opacity: .95;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}
#pg3{
	color: #F6F6F6; 
	height: 1000px;
	width: 80%;
	background-color: #2b2b2b;
	opacity: .95;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}
#pg4{
	color: #F6F6F6; 
	height: 1000px;
	width: 80%;
	background-color: #2b2b2b;
	opacity: .95;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}
#pt2{
	font-size: 60px;
	text-align:center;
}
#guypic{
	width: 50%;
	height: 55%;
}
#loc{
	margin: 3%;
}
#ballz{
	width:60%;
	height:40%;
}