.dabbutton {
    -webkit-appearance: button;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 10px;
}

*{
    font-family: 'Segoe UI';
    transition: all .5s;
}

body{
    background-color: white;
}

.colorPicker{
    padding: 0px;
    border: 1px solid black;
}
