.dabbutton {
    -webkit-appearance: button;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    padding: 10px;
}

*{
    font-family: 'Segoe UI'
}

body{
    background-color: black;
}