

.contact {
	font-size: 8px;
}
.center{
	text-align:center;
}
.img-grid{
	padding:10px;
	margin:2px;
	height:100%;
	width:100%;
}
.img-stack{
	padding:10px;
	margin-left:-13px;
	height:50%;
	width:120%;
}
.card-pad{
	padding:10px;
	margin:18px;
}