.alexmwangisvictums{
	background:#607D8B;
	padding: 20px;
	border-radius: 20px;
	border-color: white;
	border-width: 5px;
	border-style: solid;
}

*{transition: .5s}

.cfbg{
    padding: 5px;
    background-color: rgba(0, 255, 60, 0.85)}